


div.inside, footer{
    max-width: 1450px;
    margin: auto;
  }

body{
    background: rgb(249,171,98);
    background: linear-gradient(0deg, rgba(249,171,98,1) 17%, rgba(249,171,98,1) 46%, rgba(46,171,203,1) 82%, rgba(193,244,251,1) 99%);

}

div.content{

    background-color: #F7EBDE;
}

nav{
    margin: 0
}

#lblGreetings{
    background-color: blanchedalmond;
    font-size: 25px;
    align-items: center;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;


}

#demo{
    background-color: blanchedalmond;
    font-size: 25px;
    align-items: center; 
    display: flex;
    text-align: center;
    justify-content: center;
}

p.demo{
    color: black;
}

h1.title{
    background-color: #F7EBDE;
    text-align: center;
    font-size: 3em;
}

  /*************************** IMAGES ***************************/

img.logo_image {
    width: 150px;
    height: 150px;
}

div.placeholder-loading{
    width: 300px;
    height: 400px;

}

img.image{
    width: 100%;
    height: 400px;

}

figure {
    padding: 0;
}



  /*************************** NAVIGATION BAR ***************************/

  div.name{
    display: flex;
    margin: 1em;
    grid-row: 2/2;
    grid-column: 1/3;
    text-align: center;
    border: 20px solid #f9ab62;
    margin: 0;
    background-color: #F7EBDE;

}

h1.name{
    align-self: center;
    text-align: center;
    padding-left: 22%;
    color: black;
    font-size: 50px;
}

div.logo{
    text-align: left;
}

nav{
    margin: 0 auto;
    max-width: 360px;
    background-color: #F7EBDE;
    font-size: 1.3em;
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child{
    display: block;
}

#navigation li{
    display: none;
}

#navigation a:link, 
#navigation a:visited, 
#navigation a:hover, 
#navigation a:active,
#navigation a:focus{
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

#navigation a:hover{
    color: white;
    background-color: #99DADE;
}

#navigation.responsive li {
    display: block;
}

li.home{
    background-color:  #f9ab62;
}


  /*************************** MAIN ***************************/




  /*************************** FOOTER ***************************/



    footer a, footer a:link,footer a:visited, footer a:hover, footer a:active, footer a:focus
{
    color: blue;
}

footer a:hover{
    color: red;
}

footer {
    clear: both;
    text-align: center;
    background-color: #f9ab62;
}

footer p.legal{
    margin-bottom: 9px;
    font-size: 1.2em;
}

footer p.highlight {
    color: black;
    font-size: 1.2em;
    margin-top: 0;
}



/*************************** Navigation Bar different sizes ***************************/

/************ this is for a Medium screen *********/
@media only screen and (min-width:34.5em) {
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(7,auto);
    }
    #navigation li{
        display: block;
    }

    #navigation a:link, 
    #navigation a:visited, 
    #navigation a:hover, 
    #navigation a:active,
    #navigation a:focus{
        text-align: center;
    }

    #navigation li:first-chlid{
        display: none;
    }

    #navigation{
        width: 800px;
        margin: 16px auto;

    }
    h1.name{
        align-self: center;
        padding-left: 5%;
        color: black;
        font-size: 50px;

    }


}


           /***** Meidum Screen **********/


      /***** BIG SCREEM ********/
 @media only screen and (min-width: 54.5em){



        h1.name {
            padding-left: 25%;
        }
    }


