
div.main {
    font-family: 'Oswald', sans-serif;
}

div.content, footer{
    max-width: 1250px;
    margin: auto;
  
  }


  /*************************** NAVIGATION BAR ***************************/

img.logo_image {
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
  }
  
  nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    color: black;
    text-align: center;
  }
  
  div.logo-box {
    background-color: white;
  }
  
  
  li {
    border: 5px solid #D6FDFF;
    font-family: cabin;
    font-weight: bold;
    font-size: 1.6em;
    background-color: #EACD86;
    border: 2px solid white;
    grid-column: 1 solid #D6FDFF;
    margin-top: 15px;
  }

  /*************************** MAIN ***************************/

  img.logo_main{
    width: 50%;
    height: 50%;
  }
  