body{
    background-color: #00022E;
    font-family: 'Times New Roman', Times, serif;
    /*background-color: #EACD86; gold   
    background-color: #00022E; navy blue
    background-color: #FCF8EE; white*/
}

div.index_main {
    margin-top: 100px;
    width: 800px;
    align-self: center;
    border: 3px solid #EACD86;
    background-color: #FCF8EE;
}


img.apple_image{
    width: 500px;
    height: 250px;
    border-radius: 15px;
}

img.tesla_image {
    width: 500px;
    height: 250px;
    border-radius: 15px;

}

img.glasses_image {
    width: 500px;
    height: 250px;
    border-radius: 15px;
}

div.index_main{
    display: grid;
    grid-template-columns: repeat(8, fr);
    grid-template-rows: repeat(7, fr);
}

div.apple {
    width: 400px;
    grid-column: 0/4;
    grid-row: 2/3;
    font-size: 1.5em;
    justify-self: center;
}

div.tesla {
    width: 400px;
    grid-column: 4/8;
    grid-row: 2/3;
    font-size: 1.5em;
    justify-self: center;
}

div.glasses {
    width: 400px;
    grid-column: 1/8;
    grid-row: 4/5;
    justify-self: center;
    font-size: 1.5em;

}

h1.title {
    grid-column: 1/8;
    justify-self: center;
    grid-row: 1/2;
    font-size: 3.0em;
    background-color: #00022E;
    color: #EACD86;
    padding: 10px;
}

footer{
    border: 3px solid #EACD86;
    background-color: #FCF8EE;
    margin: 30px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 1.2em;
    text-align: center;


}