main{

    font-family: 'Ubuntu', sans-serif;
    margin-top: 200px;
    margin-left: 650px;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

  table{
      font-size: 20px;
      text-align: center;
      width: 400px;
  }




  /*************************** COLOR ***************************/

  thead, tfoot{
      background-color: #7fb9c1;
  }

  thead{
      font-size: 30px;
      font: bold;
  }

  

  tr.blue, th.blue{
    background-color: #628ca5;
    color: white;
  }

  tr.gray {
      background-color: #e7f0ed;
  }

  tr.green{
      background-color: #e8feed;
  }



  /*************************** FOOTER ***************************/



  footer a, footer a:link,footer a:visited, footer a:hover, footer a:active, footer a:focus
  {
      color: blue;
  }
  
  footer a:hover{
      color: red;
  }
  
  footer {
      clear: both;
      text-align: center;
  }
  
  footer p.legal{
      margin-bottom: 9px;
      font-size: 1.2em;
  }
  
  footer p.highlight {
      color: black;
      font-size: 1.2em;
      margin-top: 0;
  }